<h1>You played rock!</h1>

<link rel="stylesheet" href="/assets/css/bootstrap.css">


<a href="/scissors">TRY SCISSORS</a>
<a href="/paper">TRY PAPER</a>

<h1>
  The computer played

  <%= @computer_move %>
</h1>

<h1>
<% @outcome %>
</h1>
