<h1>Welcome to Rock Paper Scissors</h1>

<p>Rock, Paper, Scissors is a really fun game that you can play for hour on end and never be quite satisfied. You might play rock; you might play paper; you might slice with scissors. How many rocks does it take to beat a paper? The world may never know.</p>

<a href="/paper">PLAY THE GAME</a>
